<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Recipes</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Prep Time</th>
                                    <th>Cook Time</th>
                                    <th>Servings</th>
                                    <th>Description</th>
                                    <th>Source</th>
                                    <th>Ingredients</th>

                                </tr>
                            </thead>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.prepTime}">10 minutes</td>
                                <td th:text="${recipe.cookTime}">40 minutes</td>
                                <td th:text="${recipe.servings}">5</td>
                                <td th:text="${recipe.description}">This is a recipe</td>
                                <td><a th:href="${recipe.url}" th:text="${recipe.source}"></a></td>
                                <td>
                                    <table>

                                        <tr th:each="ingredient : ${recipe.ingredients}">
                                            <td th:text="${ingredient.getAmount()}">amt</td>
                                            <td th:text="${ingredient.unitOfMeasure.description}">UoM</td>
                                            <td th:text="${ingredient.description}">ingredient</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>